.chat-container {
  max-width: 50vw;
  max-height: 80vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* Stack header, window, footer */
  margin-top: 10px;
  font-size: 2vw;
  
}

.chat-header {
  background-color: #eee;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}

.chat-window {
  flex-grow: 1;
  /* Allow the window to take up remaining vertical space */
  overflow-y: auto;
  padding: 15px;
  background-color: #f9f9f9;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* Stack messages */
}

.chat-footer {
  background-color: #eee;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  gap: 10px;
  width: 100%;
  /* Space between input and button */
}

.chat-footer input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.chat-footer-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2.5% 5%;
  text-align: center;
  vertical-align: middle;
}

.bubble {
  --r: 1em;
  /* the radius */
  --t: 1em;
  /* the size of the tail */

  max-width: 70%;
  text-align: left;
  padding: 0.5em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t))/var(--r);
  mask:
    radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%) var(--_p) 100%/var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
  background: var(--accent-color-orange) border-box;
  color: #fff;
}

.left {
  --_p: 0;
  background: gray border-box;
  border-bottom-left-radius: 0 0;
  place-self: start;
}

.right {
  --_p: 100%;
  background: rgb(84, 122, 199) border-box;
  border-bottom-right-radius: 0 0;
  place-self: end;
}