
/* Color Pallette */
:root {
    --primary-color: #BF5700; 
    --secondary-color: #FFFFFF; 
    --text-color: #333333; /* Dark Gray for text */
}

/* General Styles */
body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.hero {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.hero h1 {
    color: var(--primary-color);
}

.hero .btn-light {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.hero .btn-light:hover {
    background-color: #FFD700; /* Gold for hover effect */
    color: var(--primary-color);
}

section {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

